@import './variables';
// 重置样式
*{
  box-sizing: border-box;
  outline: none;
}

html{
  font-size: 13px;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  line-height: 1.2rem;
}

a{
  // color: #999;
  text-decoration: none;
  // color: #fff;
}
p{
  line-height: 1.5rem;
}

// width
.w-100{
  width: 100%;
}

// height
.h-100{
  height: 100%;
}

// 对象
@each $colorKey,$color in $colors {
  // 文字颜色
  .text-#{$colorKey}{
    color:$color;
  }
  // 背景颜色
  .bg-#{$colorKey}{
    background-color:$color;
  }
}

// text 数组
@each $var in (left,center,right) {
  // 文字对齐方式
  .text-#{$var}{
    text-align: $var !important;
  }
}

@each $sizeksy,$size in $font-sizes {
  .fs-#{$sizeksy}{
    font-size: $size * $base-font-size;
  }
}

// 文本溢出显示省略号
.text-ellipsis{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// flex
.d-flex{
  display: flex;
}

// 纵向排列
.flex-column{
  flex-direction: column;
}

// 横线排列换行
.flex-wrap{
  flex-wrap: wrap;
}

@each $key,$value in $flex-jc {
  .jc-#{$key}{
    justify-content: $value;
  }
}

@each $key,$value in $flex-jc {
  .ai-#{$key}{
    align-items: $value;
  }
}

.flex-1{
  flex: 1;
}

.flex-grow-1{
  flex-grow: 1;
}

@each $typeKey,$type in $spacing-types {
  // m-0
  @each $sizekey,$size in $spacing-sizes {
    .#{$typeKey}-#{$sizekey}{
      #{$type}:$size*$spacing-base-size
    }
  }
  // mx-0 my-0
  @each $sizekey,$size in $spacing-sizes {
    .#{$typeKey}x-#{$sizekey}{
      #{$type}-left:$size*$spacing-base-size;
      #{$type}-right:$size*$spacing-base-size
    }
    .#{$typeKey}y-#{$sizekey}{
      #{$type}-top:$size*$spacing-base-size;
      #{$type}-bottom:$size*$spacing-base-size
    }
  }
  // mt-1
  @each $directionKey,$direction in $spacing-directions {
    @each $sizekey,$size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizekey}{
        #{$type}-#{$direction}:$size * $spacing-base-size
      }
    }
  }
}

// button
.btn{
  border: none;
  border-radius: .1538rem;
  // map-get 获取某个属性的值
  font-size: map-get($font-sizes, 'sm') * $base-font-size;
  padding: 0.2rem 0.5rem;
  &.btn-lg{
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      color: map-get($colors, 'primary');
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    background: map-get($colors, 'white-1');
    border: 1px solid map-get($colors, 'white-2');
    padding: 0.8rem 1rem;
    font-size:1rem;
  }
}

// nav
.nav{
  display: flex;
  .nav-item{
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active{
      color: map-get($colors, 'primary' );
      border-bottom-color: map-get($colors , 'primary' );
    }
  }
  &.nav-inverse{
    .nav-item{
      // color: map-get($colors, 'white');
      .nav-link{
        color: map-get($colors, 'white' );
      }
      &.active{
        border-bottom-color: map-get($colors, 'white' );
      }
    }
  }
}

// spirit
.spirit{
  background: url(../images/index-spirit.png) no-repeat 0 0;
  background-size: 28.8462rem;  //两倍像素
  display: inline-block;  //设置为内联块元素，不然不显示spirit图
  &.spirit-news{
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.spirit-arrow{
    width: .7692rem;
    height: .7692rem;
    background-position: 38.577% 52.076%;
  }
}

// borders
@each $var in (top,right,bottom,left) {
  .border-#{$var}{
    border-#{$var}: .0769rem $border-color solid
  }
}